<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="img_text">Please Paste The Available Text</div>
      <img
        src="https://img.freepik.com/free-photo/colorful-wallpaper-background-multicolored-generative-ai_91128-2257.jpg?size=626&ext=jpg&ga=GA1.1.1586847783.1702879263"
        class="d-block w-100 img-carou_sel"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <div class="img_text">Please Paste The Available Text</div>
      <img
        src="https://img.freepik.com/free-photo/closeup-textural-bright-exotic-flowers-generative-al_169016-28578.jpg?size=626&ext=jpg&ga=GA1.1.1586847783.1702879263"
        class="d-block w-100 img-carou_sel"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <div class="img_text">Please Paste The Available Text</div>
      <img
        src="https://img.freepik.com/free-photo/motivational-composition-goal-achievement_23-2150490010.jpg?size=626&ext=jpg&ga=GA1.1.1586847783.1702879263"
        class="d-block w-100 img-carou_sel"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
