<h5 class="p-5 back_logo" (click)="goBack()">
  <i class="fa-solid fa-backward"></i>Back
</h5>
<div class="card detail_card">
  <div class="card-body detail_card_b">
    <div class="p_image">
      <img [src]="productImage" alt="" />

      <div class="image_card">
        <div
          *ngFor="let image of Product.images; index as i"
          class="image_container"
        >
          <div
            class="img_con"
            *ngIf="productImage !== image"
            (click)="changeImage(i)"
          >
            <img [src]="image" alt="picture" />
          </div>
        </div>
      </div>
    </div>
    <div class="hori_zon"></div>
    <div class="p_details">
      <div class="product_info">
        <h4>{{ Product?.title }}</h4>
        <p class="text-secondary">
          {{ Product?.description }}
        </p>
        <h6 class="text-success">Brand {{ Product.brand }}</h6>
        <div class="product_price">
          <div class="price_detail">
            <h6>Price:${{ productPrice }}</h6>
            <h6>Discount: {{ Product?.discountPercentage }}% off</h6>
          </div>
          <h6>Rating: {{ Product?.rating }}</h6>
        </div>
      </div>
      <div class="qty_dis">
        Qty:
        <i
          class="fa fa-circle-plus"
          style="color: #000000"
          (click)="quantityChanged(1)"
        ></i>
        {{ productQty }}
        <i
          class="fa fa-circle-minus"
          style="color: #000000"
          (click)="quantityChanged(-1)"
        ></i>
      </div>
      <div class="action_pro">
        <div class="btn_con">
          <button class="buy_button m-2">Buy</button>

          <button class="cart_button m-2">Add To Cart</button>
        </div>
        <i class="fa-regular fa-heart wish_list m-2" style="color: #225bbf"></i>
      </div>
    </div>
  </div>
</div>
